@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply my-0 border-2 border-black px-10 py-2 font-alata font-bold uppercase tracking-widest hover:bg-black hover:text-white;
	}
}

#hero {
	background-image: url(../assets/desktop/image-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 576px) {
	#hero {
		background-image: url(../assets/mobile/image-hero.jpg);
		background-position: center;
	}
}
